{% include 'layout/head.html' %}

<body>
    {% include 'layout/header.html' %}
       <p></p>
       <div class="container">
         <div class="row">
           <!-- 1 열 -->
           <div class="col-md-4">
             <div class="card mb-3">
                 <div class="card-body">
                   <h5 class="card-title">백예린 플레이리스트</h5>
                   <h6 class="card-subtitle text-muted">봄에 듣기 좋은 청량감 플리</h6>
                 </div>
                 <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                   <rect width="100%" height="100%" fill="#868e96"></rect>
                   <text x="50%" y="50%" fill="#dee2e6" dy=".3em">플리 썸네일</text>
                 </svg>
                 <div class="card-body">
                   <p class="card-text">백예린의 여름은 이렇게 아름다웠나봐 𝑻𝒉𝒆 𝑽𝒐𝒍𝒖𝒏𝒕𝒆𝒆𝒓𝒔 𝑷𝒍𝒂𝒚𝒍𝒊𝒔𝒕</p>
                 </div>
                 <div class="m-1">
                 <div class="icon">
                     <div>
                         <span class="material-icons-outlined">favorite_border</span>
                         <span class="material-icons-outlined">chat_bubble_outline</span>
                         <span class="material-icons-outlined">send</span>
                     </div>
                 </div>
 
                 <div class="like">
                     snghyn <b>외 19명</b>이 좋아합니다
                 </div>
                 <br>
 
                 <div class="feed-text">
                     <b>yndoo</b> 백예린 플레이리스트
                 </div>
                 <br>
                 <div class="comment">
                     <div> <b>상현</b> 소프 화이팅 </div>
                     <div> <b>찬우</b> 플리 좋아여 </div>
                     <div> <b>재학</b> ㅎㅇㅎㅇ </div>
                 </div>
                 </div>
                 <div class="card-footer text-muted">
                   2 days ago
                 </div>
               </div>
           </div>
           <!-- 2 열 -->
           <div class="col-md-4">
             <div class="card mb-3">
                 <div class="card-body">
                   <h5 class="card-title">원위 플레이리스트</h5>
                   <h6 class="card-subtitle text-muted">우주에 진심인 원위 노래 모음</h6>
                 </div>
                 <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                   <rect width="100%" height="100%" fill="#868e96"></rect>
                   <text x="50%" y="50%" fill="#dee2e6" dy=".3em">플리 썸네일</text>
                 </svg>
                 <div class="card-body">
                   <p class="card-text">[𝙋𝙡𝙖𝙮𝙡𝙞𝙨𝙩] 가끔 너는 나를, 몽상가라고 불러 | 밴드 원위 플레이리스트</p>
                 </div>
                 <div class="m-1">
                 <div class="icon">
                     <div>
                         <span class="material-icons-outlined">favorite_border</span>
                         <span class="material-icons-outlined">chat_bubble_outline</span>
                         <span class="material-icons-outlined">send</span>
                     </div>
                 </div>
 
                 <div class="like">
                     snghyn <b>외 19명</b>이 좋아합니다
                 </div>
                 <br>
 
                 <div class="feed-text">
                     <b>yndoo</b> 원위 플레이리스트
                 </div>
                 <br>
                 <div class="comment">
                     <div> <b>상현</b> 소프 화이팅 </div>
                     <div> <b>찬우</b> 플리 좋아여 </div>
                     <div> <b>재학</b> ㅎㅇㅎㅇ </div>
                 </div>
                 </div>
 
                 <div class="card-footer text-muted">
                   1 week ago
                 </div>
               </div>
           </div>
           <!-- 3 열 -->
           <div class="col-md-4">
             <div class="card mb-3">
                 <div class="card-body">
                   <h5 class="card-title">DPR IAN 플레이리스트</h5>
                   <h6 class="card-subtitle text-muted">내 우울이 만들어 낸 괴물</h6>
                 </div>
                 <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                   <rect width="100%" height="100%" fill="#868e96"></rect>
                   <text x="50%" y="50%" fill="#dee2e6" dy=".3em">플리 썸네일</text>
                 </svg>
                 <div class="card-body">
                   <p class="card-text">| DPR IAN 노래모음 | 듣는 순간 극락 가는 DPR IAN PLAYLIST</p>
                 </div>
                 <div class="m-1">
                 <div class="icon">
                     <div>
                         <span class="material-icons-outlined">favorite_border</span>
                         <span class="material-icons-outlined">chat_bubble_outline</span>
                         <span class="material-icons-outlined">send</span>
                     </div>
                 </div>
                 <div class="like">
                     snghyn <b>외 19명</b>이 좋아합니다
                 </div>
                 <br>
 
                 <div class="feed-text">
                     <b>yndoo</b> DPR IAN 플레이리스트
                 </div>
                 <br>
                 <div class="comment">
                     <div> <b>상현</b> 소프 화이팅 </div>
                     <div> <b>찬우</b> 플리 좋아여 </div>
                     <div> <b>재학</b> ㅎㅇㅎㅇ </div>
                 </div>
             </div>
                 <div class="card-footer text-muted">
                   2 weeks ago
                 </div>
               </div>
           </div>
         </div>
       </div>
       <br>
       <h3 class="text-center">
         Playlist Merge
         <small class="text-muted">with your playlist</small>
       </h3>
 
       <div class="container text-center">
         <div class="row">
           <!-- 1 열 -->
           <div class="col-md-6">
               <div class="form-group">
                  <label for="formFile" class="form-label mt-4">플레이리스트를 추가해보세요!</label>
                  <input class="form-control" type="file" id="formFile">
               </div>
           </div>
           <!-- 2 열 -->
           <div class="col-md-6">
               <div class="form-group">
                  <label for="formFile" class="form-label mt-4">플레이리스트를 추가해보세요!</label>
                  <input class="form-control" type="file" id="formFile">
               </div>
           </div>
         </div>
       </div>
       <p></p>
       <div class="container">
         <div class="row">
           <div class="col text-center">
             <button type="button" class="btn btn-outline-light">새 플레이리스트 생성</button>
         </div>
         </div>
       </div>
     <script src="/pliz/static/js/bootstrap.min.js"></script>
 </body>
 
 </html>