{% include 'layout/head.html' %}
<body>
    {% include 'layout/header.html' %}
</br>
    <div class="container">
    <div class="row">
    <div class="col-md-6">
    <table class="table table-hover">
        <thead>
          <tr class="table-secondary">
            <th scope="col">순위</th>
            <th scope="col">유저 랭킹</th>
          </tr>
        </thead>
        <tbody>
            {% for row in users %}
            <tr class="table-secondary">
              <th scope="row">{{ row.no }} </th>
              <td ><a href="/community/information/{row.no}">
                {{ row.user }}</a>
              </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
      </div>

      <div class="col-md-6">
        <table class="table table-hover">
            <thead>
              <tr class="table-secondary">
                <th scope="col">순위</th>
                <th scope="col">플레이리스트 랭킹</th>
              </tr>
            </thead>
            <tbody>
                {% for row in playlist %}
                <tr class="table-secondary">
                  <th scope="row">{{ row.no }} </th>
                  <td ><a href="/community/information/{row.no}">
                    {{ row.playlist }}</a>
                  </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
</div>
</body>